.chart-pie-label-line {
    -fx-stroke: #8b4513;
    -fx-fill: #8b4513;
}

.chart-pie-label {
    -fx-fill: #fff4bd;
    -fx-font-size: 1em;
}

.chart-title {
    -fx-text-fill: #FFFFFF;
    -fx-font-size: 1.6em;
}

.chart-legend {
    -fx-background-color:  #fafad2;
    -fx-stroke: #daa520;
}
