.background {
    -fx-background-color: #b3b3b3;
    -fx-padding: 10;
}

.side-bar-container {
    -fx-background-color: #D2DADE;
    -fx-padding: 40 10 40 10;
    -fx-background-radius: 20 0 0 20;
}

.panel-container {
    -fx-background-radius: 0 20 20 0;
    -fx-border-radius: 0 20 20 0;
}

.label {
    -fx-font-size: 11pt;
    -fx-font-family: "Segoe UI Semibold";
    -fx-text-fill: #555555;
    -fx-opacity: 0.9;
}

.label-bright {
    -fx-font-size: 11pt;
    -fx-font-family: "Segoe UI Semibold";
    -fx-text-fill: white;
    -fx-opacity: 1;
}

.label-header {
    -fx-font-size: 32pt;
    -fx-font-family: "Segoe UI Light";
    -fx-text-fill: white;
    -fx-opacity: 1;
}

.text-field {
    -fx-font-size: 12pt;
    -fx-font-family: "Segoe UI Semibold";
}

.tab-pane {
    -fx-padding: 0 0 0 1;
}

.tab-pane .tab-header-area {
    -fx-padding: 0 0 0 0;
    -fx-min-height: 0;
    -fx-max-height: 0;
}

.table-view {
    -fx-table-cell-border-color: transparent;
    -fx-table-header-border-color: transparent;
    -fx-padding: 5;
}

.table-view .column-header-background {
    -fx-background-color: transparent;
}

.table-view .column-header, .table-view .filler {
    -fx-size: 35;
    -fx-border-width: 0 0 1 0;
    -fx-background-color: transparent;
    -fx-border-color:
        transparent
        transparent
        derive(-fx-base, 80%)
        transparent;
    -fx-border-insets: 0 10 1 0;
}

.table-view .column-header .label {
    -fx-font-size: 20pt;
    -fx-font-family: "Segoe UI Light";
    -fx-text-fill: white;
    -fx-alignment: center-left;
    -fx-opacity: 1;
}

.table-view:focused .table-row-cell:filled:focused:selected {
    -fx-background-color: -fx-focus-color;
}

.split-pane:horizontal .split-pane-divider {
    -fx-border-color: transparent transparent transparent #4d4d4d;
}

.split-pane {
    -fx-border-radius: 1;
    -fx-border-width: 1;
}

.list-view {
    -fx-background-insets: 0;
    -fx-padding: 0;
    -fx-background-color: derive(#1d1d1d, 20%);
}

.list-cell {
    -fx-label-padding: 0 0 0 0;
    -fx-graphic-text-gap : 0;
    -fx-padding: 0 0 0 0;
}

.list-cell:filled:even {
    -fx-background-color: #d9d9d9;
}

.list-cell:filled:odd {
    -fx-background-color: #d9d9d9;
}

.list-cell:filled:selected {
    -fx-background-color: #e9e8eb;
}

.list-cell:filled:selected #cardPane {
    -fx-border-color: #3e7b91;
    -fx-border-width: 1;
}

.list-cell .label {
    -fx-text-fill: white;
}

.stack-pane {
    -fx-background-color: #e6e6e6;
    -fx-background-radius: 0 0 20 0;
}

.pane-with-border {
     -fx-background-color: #d9d9d9;
    -fx-background-radius: 0 0 20 0;
}

.status-bar {
    -fx-background-color: #f2f2f2;
    -fx-background-radius: 0 20 0 0;
}

.result-display {
    -fx-padding: 10;
    -fx-background-insets: 10;
    -fx-border-insets: 10;
    -fx-background-color: transparent;
    -fx-font-family: "Segoe UI Light";
    -fx-font-size: 13pt;
    -fx-background-radius: 10;
}

.result-display .label {
}

.status-bar .label {
    -fx-font-family: "Segoe UI Light";
    -fx-text-fill: black;
    -fx-padding: 4px;
    -fx-pref-height: 30px;
    -fx-font-size: 20;
}

.status-bar-with-border {
    -fx-border-width: 1px;
}

.status-bar-with-border .label {
    -fx-text-fill: black;
}

.grid-pane {
    -fx-background-color: #d9d9d9;
    -fx-border-width: 1px;
}

.grid-pane .stack-pane {
    -fx-background-color: #d9d9d9;
}

.context-menu {
}

.context-menu .label {
    -fx-text-fill: white;
}

.menu-bar {
}

.menu-bar .label {
    -fx-font-size: 14pt;
    -fx-font-family: "Segoe UI Light";
    -fx-text-fill: white;
    -fx-opacity: 0.9;
}

.menu .left-container {
}

/*
 * Metro style Push Button
 * Author: Pedro Duque Vieira
 * http://pixelduke.wordpress.com/2012/10/23/jmetro-windows-8-controls-on-java/
 */
.button {
    -fx-background-color: transparent;
    -fx-background-insets: 10;
    -fx-border-insets: 10;
    -fx-padding: 10;
}

.button:hover {
    -fx-scale-x: 1.1;
    -fx-scale-y: 1.1;
    -fx-scale-z: 1.1;
}

.dialog-pane {
}

.dialog-pane > *.button-bar > *.container {
}

.dialog-pane > *.label.content {
    -fx-font-size: 14px;
    -fx-font-weight: bold;
    -fx-text-fill: white;
}

.dialog-pane:header *.header-panel {
}

.dialog-pane:header *.header-panel *.label {
    -fx-font-size: 18px;
    -fx-font-style: italic;
    -fx-fill: white;
    -fx-text-fill: white;
}

.scroll-bar {
    -fx-background-color: #b4b6b8;
}

.scroll-bar .thumb {
    -fx-background-color: #d7d8d9;
    -fx-background-insets: 3;
}

.scroll-bar .increment-button, .scroll-bar .decrement-button {
    -fx-background-color: transparent;
    -fx-padding: 0 0 0 0;
}

.scroll-bar .increment-arrow, .scroll-bar .decrement-arrow {
    -fx-shape: " ";
}

.scroll-bar:vertical .increment-arrow, .scroll-bar:vertical .decrement-arrow {
    -fx-padding: 1 8 1 8;
}

.scroll-bar:horizontal .increment-arrow, .scroll-bar:horizontal .decrement-arrow {
    -fx-padding: 8 1 8 1;
}

#cardPane {
    -fx-background-color: transparent;
    -fx-border-width: 0;
}

#commandTypeLabel {
    -fx-font-size: 11px;
    -fx-text-fill: #F70D1A;
}

#commandTextField {
    -fx-padding: 20;
    -fx-border-insets: 10;
    -fx-background-insets: 10;
    -fx-background-radius: 10;
    -fx-font-family: "Segoe UI Light";
    -fx-font-size: 13pt;
    -fx-background-color: #f2f2f2;
    -fx-text-fill: black;
}

#filterField, #clientListPanel, #clientWebpage {
    -fx-effect: innershadow(gaussian, black, 10, 0, 0, 0);
}

#resultDisplay .content {
    -fx-background-color: transparent, #f2f2f2, transparent, #f2f2f2;
}

#tags {
    -fx-hgap: 7;
    -fx-vgap: 3;
}

#tags .label {
    -fx-text-fill: black;
    -fx-background-color: #E7CFE9;
    -fx-padding: 1 3 1 3;
    -fx-border-radius: 2;
    -fx-background-radius: 2;
    -fx-font-size: 11;
}

.schedule-container {
    -fx-background-color: transparent;
}

.schedule-grid {
    -fx-background-color: transparent;
}

.schedule-grid-cell-red {
    -fx-background-color: #F1E0E0;
    -fx-border-width: 100;
    -fx-background-radius: 10;
    -fx-max-height:65;
}

.schedule-grid-cell-blue {
    -fx-background-color: #E0E7F1;
    -fx-border-width: 100;
    -fx-background-radius: 10;
    -fx-max-height:65;
}

.schedule-grid-cell-green {
    -fx-background-color: #DEEEDC;
    -fx-border-width: 100;
    -fx-background-radius: 10;
    -fx-max-height:65;
}

.date-display-slot {
    -fx-background-color: #e6e6e6;
    -fx-padding: 10;
    -fx-border-insets: 20;
    -fx-background-insets: 5;
    -fx-background-radius: 10;
    -fx-max-width:100;
    -fx-min-height:70;
}

.purple-cardPane {
    -fx-background-color: #ECE4F0;
    -fx-background-radius: 15;
    -fx-opacity: 0.5;
}

.expense-tag {
    -fx-background-color: #E7CFE9;
    -fx-padding: 0 3 0 3;
    -fx-background-radius: 2;
    -fx-opacity: 0.7;
}

.purple-date {
    -fx-font-size: 12pt;
    -fx-font-family: "Segoe UI Light";
    -fx-opacity: 1;
}

.purple-index {
    -fx-background-color: #E7CFE9;
    -fx-font-size: 12pt;
    -fx-padding: 1 7 1 7;
    -fx-background-radius: 3;
}

.green-cardPane {
    -fx-background-color: #DEEEDC;
    -fx-background-radius: 15;
    -fx-opacity: 0.5;
}

.green-date {
    -fx-font-size: 12pt;
    -fx-font-family: "Segoe UI Light";
    -fx-opacity: 1;
}

.green-index {
    -fx-background-color: #B7D3BA;
    -fx-font-size: 12pt;
    -fx-padding: 1 7 1 7;
    -fx-background-radius: 3;
}
